.main-window {
  text-align: center;
  background-color: #121212;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
}

.main-window .main {
  display: flex;
  overflow-y: hidden;
  position: relative;
}

.shade {
  height: 100%;
  width: 100%;
  background-color: rgb(0 0 0 / 42%);
  position: absolute;
  z-index: 12;
}

#contentArea {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: -webkit-fill-available;
  overflow-x: hidden;
  background: #262626;
}

#contentArea .main-page {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 11;
  background: #262626;
  transition: transform 0.5s ease, opacity 0.3s ease;
  overflow-x: hidden;
}

.title .topBar .titleBar .handle {
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
}

.logo {
  width: 20px;
  position: relative;
  left: 6px;
  top: 4px;
  display: flex;
}

.misc {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  width: fit-content;
  align-items: center;
  transition: background-color 0.3s;
  position: relative;
  margin-left: 15px;
  margin-top: 15px;
}

.misc .cog {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  fill: rgba(255, 255, 255, 0.507);
  transition: fill 0.5s ease;
}

.misc .bell {
  width: 20px;
  height: 23px;
  fill: rgba(255, 255, 255, 0.507);
  transition: fill 0.5s ease;
}

.misc .cog:hover {
  animation: spin 3s ease infinite;
  fill: white;
}

.misc .bell:hover {
  animation: shake 1.2s ease infinite;
  fill: white;
}

.token-missing {
  background-color: #313232;
  position: absolute;
  top: 0;
  color: white;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
  width: 100%;
  padding: 8px 0;
  user-select: none;
  z-index: 10;
  cursor: pointer;
}

.token-missing:hover {
  filter: brightness(1.2);
}

.token-missing span {
  text-decoration: underline;
  cursor: pointer;
  color: #dd0000;
}

.token-missing span:hover {
  color: #f33030;
}

.show-page {
  animation: show 0s 0.7s forwards;
}

.hide-page {
  transform: scale(0.8);
  opacity: 0;
  animation: hide 0s 0.7s forwards;
}

@keyframes show {
  to {
    z-index: 11;
  }
}

@keyframes hide {
  to {
    z-index: 10;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  50%,
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60%,
  100% {
    transform: rotate(0deg);
  }
}
