.notifications-view {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #262626;
  z-index: 10;
  transition: transform 0.5s ease, opacity 0.3s ease;
}

.notifications-view .notif-history {
  color: #ffffffc7;
  margin: 12px 0 20px 0;
  font-family: system-ui;
  font-size: 25px;
  cursor: default;
  user-select: none;
}

.notifications-view .delete-all {
  display: flex;
  height: 30px;
  position: absolute;
  right: 15px;
  top: 15px;
  fill: #878787;
  cursor: pointer;
}

.notifications-view .delete-all:hover {
  fill: white;
}

.notifications-view .disable {
  fill: #4a4a4a;
  pointer-events: none;
}

.notifications-view .delete-all::after {
  content: "Delete all";
  position: absolute;
  padding: 5px;
  background: #424242;
  color: white;
  font-family: sans-serif;
  font-style: normal;
  left: 0px;
  top: 50%;
  transform: translate(-90%, -50%);
  width: max-content;
  border-radius: 3px;
  font-size: 15px;
  opacity: 0;
  user-select: none;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  box-shadow: -4px 4px 4px 0px rgb(0 0 0 / 50%);
}

.notifications-view .delete-all:hover:after {
  opacity: 1;
  transform: translate(-110%, -50%);
}

.notifications-view .delete-all:hover svg #layer1 > #lid {
  transform: rotate(-15deg);
}

.notifications-view .delete-all #lid {
  transform-origin: 75px 85px;
  transition: transform 0.3s ease;
}

.notifications-view .notifs-container {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: auto;
  padding-bottom: 15px;
}

.notifications-view .notifs-container .notif {
  width: 90%;
  height: 45px;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 3px;
  margin-top: 7px;
  flex-direction: column;
  filter: brightness(0.9);
  overflow-x: hidden;
}

.notifications-view .notifs-container .notif:hover > .hover {
  transform: none;
}

.hover {
  background: #ff4040;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  font-family: sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  transform: translateX(-100%);
  cursor: pointer;
}

.notifications-view .notifs-container .notif p {
  color: white;
  font-family: system-ui;
  width: fit-content;
  text-shadow: 2px 2px 4px #00000085;
  user-select: none;
}

.notifications-view .notifs-container .notif .name {
  font-size: 22px;
  margin: 0 10px;
  margin-top: -20px;
  font-weight: 700;
  text-transform: capitalize;
  transition: margin 0.3s ease;
}

.notifications-view .notifs-container .notif .notif-h-status {
  margin: 0;
  position: absolute;
  left: 10px;
  bottom: 3px;
  font-weight: bold;
  font-size: 14px;
  transition: margin 0.3s ease;
}

.notifications-view .notifs-container .notif .date {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  margin: 0;
  font-weight: bold;
}

.notifications-view .notifs-container .live-bg {
  background: #03d270;
}

.notifications-view .notifs-container .offline-bg {
  background: #605a5a;
}

.show {
  transform: translateX(0);
}

.return {
  position: absolute;
  left: 10px;
  color: white;
  font-size: 17px;
  font-family: sans-serif;
  padding: 5px;
  border-radius: 5px;
  top: -10px;
  cursor: pointer;
}

.return:hover {
  background: #505050ab;
}

.notifications-view .exit {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 30px;
  height: 30px;
}

.notifications-view .exit:hover {
  border-color: white;
}

.notifications-view .exit:hover > div {
  background-color: white;
}

.notifications-view .exit div:first-child {
  transform: translate(-50%, -75%) rotate(50deg);
}

.notifications-view .exit div:last-child {
  transform: translate(-50%, -25%) rotate(-50deg);
}

.notifications-view .exit div {
  background-color: #878787;
  width: 4px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 2px;
}
