.search-result {
  display: flex;
  width: 90%;
  height: 50px;
  background-color: #181819;
  border-radius: 5px;
  margin-bottom: 8px;
  align-items: center;
  transition: 0.3s ease-out;
  position: relative;
  box-shadow: 5px 5px 10px 1px rgb(0 0 0 / 30%);
}

.search-result:hover {
  background-color: #2e2e2e;
}

.search-result img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 15px;
}

.search-result h1 {
  color: #dddddd;
  font-size: 25px;
  font-family: system-ui;
  pointer-events: none;
  max-width: 60%;
  overflow-x: hidden;
  text-overflow: ellipsis;
  user-select: none;
}

.search-result .add {
  color: #dddddd;
  font-size: 18px;
  font-family: system-ui;
  position: absolute;
  right: 15px;
  cursor: pointer;
  user-select: none;
}

.search-result .add:hover {
  color: white;
}

.search-result .saved {
  color: #00ef76;
  font-size: 18px;
  font-family: system-ui;
  position: absolute;
  right: 15px;
  cursor: default;
  user-select: none;
}
