.side-panel {
  height: 100vh;
  background: #121212;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  z-index: 20;
  padding-top: 10px;
  width: 0;
  overflow-x: clip;
}

.side-panel .option {
  padding: 5px 5px;
  transition: background-color 0.3s ease, border-radius 0.3s ease;
  display: flex;
  cursor: pointer;
  position: relative;
  background: #80808063;
  border-radius: 100%;
  height: 35px;
  width: 35px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.side-panel .option::after {
  content: attr(data-title);
  position: absolute;
  right: -20px;
  padding: 10px;
  border-radius: 5px;
  color: white;
  background: #3f3f40;
  transform: translateX(100%) scale(0%);
  box-shadow: 4px 4px 10px black;
  font-family: sans-serif;
  font-weight: bold;
  transform-origin: center;
}

.side-panel .option::before {
  content: "";
  position: absolute;
  right: -10px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 11px solid #3f3f40;
  transform: translateX(100%) scaleX(0%);
  z-index: 1;
  transform-origin: right;
  text-shadow: 0px 0 5px black;
}

.side-panel .option:hover {
  background-color: rgba(88, 88, 88, 0.432);
  border-radius: 30%;
}

.side-panel .option:hover:after {
  animation: pop 0.3s ease forwards;
}
.side-panel .option:hover:before {
  animation: pop-x 0.2s ease 0.3s forwards;
}

@keyframes pop {
  0% {
    transform: translateX(100%) scale(0%);
  }
  80% {
    transform: translateX(100%) scale(110%);
  }
  100% {
    transform: translateX(100%) scale(100%);
  }
}

@keyframes pop-x {
  0% {
    transform: translateX(100%) scaleX(0%);
  }
  60% {
    transform: translateX(100%) scaleX(120%);
  }
  100% {
    transform: translateX(100%) scaleX(100%);
  }
}

.side-panel i {
  width: 19px;
  fill: #4aff8d;
  height: 20px;
}

#info {
  width: 8px;
  height: 21px;
}

.side-panel .notif-bubble {
  background: #ff314e;
  position: absolute;
  top: -7px;
  right: 0px;
  border-radius: 100%;
  height: 15px;
  width: 15px;
  box-shadow: 0 0 5px 1px black;
}

.slide-in {
  opacity: 1;
  width: 45px;
  overflow: visible;
}
