.streamer {
  height: 60px;
  width: 100%;
  background-color: #181819;
  border-radius: 3px;
  position: relative;
  display: flex;
  margin-bottom: 10px;
  box-shadow: -4px 4px 10px 1px rgb(0 0 0 / 30%);
}

.streamer img {
  height: 100%;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.streamer .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10px;
  max-width: 55%;
}

.streamer h1 {
  margin: 0;
  font-family: system-ui;
  color: rgb(220, 220, 220);
  font-size: 25px;
  text-align: left;
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  cursor: pointer;
  width: fit-content;
  max-width: 100%;
}

.streamer h1:hover {
  color: rgb(255, 255, 255);
}

.streamer h2 {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 18px;
  font-family: system-ui;
  color: rgb(150, 150, 150);
  height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  cursor: default;
}

.status {
  display: flex;
  height: fit-content;
  align-items: center;
  flex-direction: row-reverse;
  position: absolute;
  right: 10px;
  top: 5px;
}

.status .dot {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-left: 5px;
}

.status .viewers {
  color: rgb(255, 86, 56);
  font-family: system-ui;
  margin: 0;
  font-weight: bold;
  cursor: default;
  font-size: 14px;
}

.status .viewer-icon {
  width: 10px;
  height: 16px;
  fill: rgb(255, 86, 56);
  margin-right: 3px;
}

.time-streaming {
  position: absolute;
  right: 10px;
  bottom: 5px;
  margin: 0;
  font-family: system-ui;
  font-weight: bold;
  color: #9f9f9f;
  font-size: 14px;
  cursor: default;
}
