.streamer-container {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.streamer-container .section-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.streamer-container .guide-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
  padding: 0 10px;
}

.streamer-container .guide-div .text1 {
  font-family: sans-serif;
  font-weight: bold;
  color: #ffffff9c;
  margin: 0;
  font-size: 18px;
}

.streamer-container .guide-div .text2 {
  font-family: sans-serif;
  color: #ffffff9c;
}

.streamer-container .section-container .online,
.streamer-container .section-container .offline {
  width: 90%;
  overflow-x: clip;
  padding: 0 10px;
}

.section {
  color: #ffffffb3;
  font-family: system-ui;
  font-size: 18px;
  text-align: left;
  width: max-content;
  position: relative;
  margin-bottom: 5px;
  margin-top: 10px;
  user-select: none;
}

.section .count {
  font-size: 14px;
  font-family: consolas;
  color: aquamarine;
  position: relative;
  cursor: pointer;
}

.section .count .toggle {
  position: absolute;
  top: 50%;
  right: -5px;
  transform: translate(100%, -50%);
  cursor: pointer;
  width: 15px;
  height: 16px;
  color: rgba(255, 255, 255, 0.3);
}

.section .count .toggle:hover {
  color: aquamarine;
}
